@import 'base';
@import 'custom';

h1 {
  @include title_style;
  @include breakpoint(mobile) {
    text-align: center;
    font-size: 135px;
  }
}

h2 {
  @include title_style;
}

h3 {
  color: $paragraph;
}

h4 {
  color: $paragraph;
}

p, li, ul {
  @include basic;
}

a {
  text-decoration: none;
  color: $burn;
  font-family: $handWrite;
  font-size: 30px;
  font-weight: bold;
}
