/* line 4, ../sass/elements.scss */
h1 {
  padding: 5px 0px;
  letter-spacing: -10px;
  font-family: 'Amatic SC', cursive;
  color: #fc7449;
  font-weight: 300;
  margin: 0px;
}
@media all and (min-width: 1000px) and (min-height: 700px) and (min-device-width: 1000px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation: landscape) {
  /* line 4, ../sass/elements.scss */
  h1 {
    font-size: 120px;
  }
}
@media all and (max-device-width: 767px) {
  /* line 4, ../sass/elements.scss */
  h1 {
    text-align: center;
    font-size: 250px;
  }
}

/* line 15, ../sass/elements.scss */
h2 {
  padding: 5px 0px;
  letter-spacing: -10px;
  font-family: 'Amatic SC', cursive;
  color: #fc7449;
  font-weight: 300;
  margin: 0px;
}

/* line 19, ../sass/elements.scss */
h3 {
  color: #646464;
}

/* line 23, ../sass/elements.scss */
h4 {
  color: #646464;
}

/* line 27, ../sass/elements.scss */
p, li, ul {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #646464;
  padding: 0px 30px;
}
@media all and (min-width: 1000px) and (min-height: 700px) and (min-device-width: 1000px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation: landscape) {
  /* line 27, ../sass/elements.scss */
  p, li, ul {
    font-size: 18px;
  }
}
@media all and (max-device-width: 767px) {
  /* line 27, ../sass/elements.scss */
  p, li, ul {
    font-size: 40px;
  }
}

/* line 37, ../sass/elements.scss */
a {
  text-decoration: none;
  color: #fc7449;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
}
@media all and (min-width: 1000px) and (min-height: 700px) and (min-device-width: 1000px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation: landscape) {
  /* line 37, ../sass/elements.scss */
  a {
    font-size: 35px;
    position: relative;
    bottom: 10px;
  }
}

@media all and (min-width: 1000px) and (min-height: 700px) and (min-device-width: 1000px), all and (max-device-width: 1024px) and (min-width: 1024px) and (orientation: landscape) {
  /* line 49, ../sass/elements.scss */
  img {
    height: 50px;
  }
}

@media all and (max-device-width: 767px) {
  /* line 55, ../sass/elements.scss */
  .kitty {
    display: none;
  }
}
