/* line 4, ../sass/elements.scss */
h1 {
  padding: 5px 0px;
  font-size: 100px;
  letter-spacing: -10px;
  font-family: 'Amatic SC', cursive;
  color: #fc7449;
  font-weight: 300;
  margin: 0px;
}
@media only screen and (max-width: 767px) {
  /* line 4, ../sass/elements.scss */
  h1 {
    text-align: center;
    font-size: 135px;
  }
}

/* line 12, ../sass/elements.scss */
h2 {
  padding: 5px 0px;
  font-size: 100px;
  letter-spacing: -10px;
  font-family: 'Amatic SC', cursive;
  color: #fc7449;
  font-weight: 300;
  margin: 0px;
}

/* line 16, ../sass/elements.scss */
h3 {
  color: #646464;
}

/* line 20, ../sass/elements.scss */
h4 {
  color: #646464;
}

/* line 24, ../sass/elements.scss */
p, li, ul {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  color: #646464;
  padding: 0px 30px;
}

/* line 28, ../sass/elements.scss */
a {
  text-decoration: none;
  color: #fc7449;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  font-weight: bold;
}
